* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header img {
    height: 80px;
    margin-left: 40px;
}
body {
    height: 125vh;
    background-size:cover;
    font-family: sans-serif;
    margin-top: 0px;
    padding: 0px;
    background-color: #fff;
}

h1 {
    margin-left: 20px; /* Adjust the margin as needed */
    margin-right: 200px;
    display: inline; /* Make the h1 display inline */
    font-size: 185%;
}

h2 {
    margin-top: 40px;
    font-family: "Mona Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 48px;
    font-weight: 700;
    line-height: 56px;
}

main {
    color: white;
}

header {
    background-color: white;
    
    top: 0;
    left: 0;
    right: 0;
    height: 80px;
    display: flex;
    align-items: center;
}

nav{
    text-align: right;
    align-items: right;
    padding-left: 21.5%;
}

header * {
    display: inline;
}

header li {
    margin: 15px;
}

header li a {
    color: black;
    text-decoration: none;
}

hr {
    margin: 0;
    height: 0;
    border-top-width: 0px;
    margin-bottom: 15px;
}

.contact_block {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-left: -39rem;
}
.container {
    display: block;
    padding-top: 0.5px;
    width: 120%; /* Adjust width as needed */
    margin: 10px;
    background-color: #f9f9f9;
    border-radius: 48px;
    text-align: center;
    box-shadow: 0 4px 28px rgba(131, 10, 10, 0.1);
    margin-bottom: 6rem;
    padding-left: 60px;
    padding-right: 60px;
}
.container h2 {
    margin-bottom: 5px;
    padding-top: -90rem;

}

.container p {
    margin-bottom: 10px;
}
form{
    height: 300px;
}







.contact-section{
    padding-left: 490px;
}
.form{
    padding-left: 5px;
    margin-bottom: 180px;
}
.input{
    margin: 15px;
    padding-left: 130px;
    padding-right: 50px;
    padding-top: 25px;
    border-radius: 40px;
    border: 1px;
}
.inputsub{
    margin: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 50px;
    padding-right: 50px;
    border-radius: 40px;
    border: none;
    font-size: 15px;
}



footer {
    background-color: #323232;
    color: #fff;
    padding: 25px 0;
    text-align: center;
}
